<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated devtool -->
      <package
            uri="http://www.mycompany.org/devtool"
            class="com.mycompany.devtool.DevtoolPackage"
            genModel="model/devtool.genmodel"/>
   </extension>

</plugin>
